.query-panel {

  .btn-line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    button {
      margin-right: 10px;
    }
  }

  nz-form-label{
    width: 100px;
  }

  nz-form-control{
    width: 180px;
  }

  .date-range{
    width: 436px;
  }
}
