<section class="aside">
  <ul nz-menu [nzMode]="'inline'">
    <li nz-submenu>
      <span title><i class="anticon anticon-dashboard"></i>统计监控</span>
      <ul>
        <li nz-menu-item><a routerLink="/analysis">统计分析</a></li>
        <li nz-menu-item><a routerLink="/monitor">系统监控</a></li>
        <li nz-menu-item><a routerLink="/log">操作记录</a></li>
      </ul>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-table"></i>功能模块</span>
      <ul>
        <li nz-menu-item><a routerLink="/category">分类管理</a></li>
        <li nz-menu-item><a routerLink="/article">文章管理</a></li>
        <li nz-menu-item><a routerLink="/comment">评论管理</a></li>
        <li nz-menu-item><a routerLink="/user">用户管理</a></li>
      </ul>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-profile"></i>系统设置</span>
      <ul>
        <li nz-menu-item><a routerLink="/site-info">网站信息</a></li>
        <li nz-menu-item><a routerLink="/user-info">用户信息</a></li>
      </ul>
    </li>
  </ul>
</section>
