@import "src/styles/scss/sdk/index";

.tabsContainer {

  :global {
    .ant-tabs-bar{
      position: fixed;
      padding-top: 12px;
      top: $header-height;
      background: $body-bg-color;
      width: calc(100vw - #{$aside-width + 48px});
      z-index: 10;
    }
  }
}
