<div class="panel grid-panel">
  <div class="title">列表区域</div>
  <div class="content">
    <div class="options">
      <button nz-button nzType="primary" (click)="create()">
        <i class="anticon anticon-addfile"></i><span>新建</span>
      </button>
      <button nz-button (click)="update()" *ngIf="isShowEdit">
        <i class="anticon anticon-edit"></i><span>修改</span>
      </button>
      <button nz-button nzType="danger" *ngIf="isShowDelete" nz-popconfirm nzTitle="您确定要删除这些用户?" (nzOnConfirm)="delete()">
        <i class="anticon anticon-delete"></i><span>删除</span>
      </button>
    </div>
    <div class="table-wrapper">
      <nz-table #nzTable
                [nzData]="list"
                [nzPageSize]="size"
                [nzTotal]="total"
                [nzPageIndex]="pageIndex"
                [nzLoading]="isLoading"
                (nzPageIndexChange)="pageIndexChange($event)"
                (nzPageSizeChange)="pageSizeChange($event)"
                [nzFrontPagination]="false"
                [nzShowPagination]="true"
                [nzShowSizeChanger]="true"
                [nzShowQuickJumper]="true"
                [nzScroll]="{x: '100%'}">
        <thead (nzSortChange)="sortChange($event)" nzSingleSort>
        <tr>
          <th nzShowCheckbox nzLeft="0px" [nzChecked]="allChecked" (nzCheckedChange)="checkAll($event)"></th>
          <th nzShowSort nzSortKey="username" nzWidth="140px">用户名</th>
          <th nzShowSort nzSortKey="nickname" nzWidth="140px">用户昵称</th>
          <th nzShowSort nzSortKey="role" nzWidth="100px">角色</th>
          <th nzShowSort nzSortKey="status" nzWidth="100px">状态</th>
          <th nzShowSort nzSortKey="email" nzWidth="180px">邮箱</th>
          <th nzShowSort nzSortKey="phone" nzWidth="150px">手机</th>
          <th nzShowSort nzSortKey="qq" nzWidth="150px">QQ</th>
          <th nzShowSort nzSortKey="lastLoginTime" nzWidth="180px">最后登录时间</th>
          <th nzShowSort nzSortKey="createBy" nzWidth="140px">创建人</th>
          <th nzShowSort nzSortKey="createTime" nzWidth="180px">创建时间</th>
          <th nzShowSort nzSortKey="updateBy" nzWidth="140px">最后修改人</th>
          <th nzShowSort nzSortKey="updateTime" nzWidth="180px">最后修改时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list">
          <td nzShowCheckbox nzLeft="0px" [nzChecked]="!!item.checked" (nzCheckedChange)="checkRow($event, item)"></td>
          <td>{{item.username}}</td>
          <td>{{item.nickname}}</td>
          <td>{{item.roleName}}</td>
          <td>{{item.statusName}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.qq}}</td>
          <td>{{item.lastLoginTime}}</td>
          <td>{{item.createBy}}</td>
          <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{item.updateBy}}</td>
          <td>{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
