<section class="header">
  <div class="site">管理中心</div>
  <span class="btn">
      <i class="anticon anticon anticon-menu-fold"></i>
    </span>
  <div class="search">
    <nz-input-group nzAddOnBeforeIcon="anticon anticon-search">
      <input nz-input placeholder="请输入关键字搜索菜单、分类、文章、评论...">
    </nz-input-group>
  </div>
  <div class="holder"></div>
  <nz-dropdown nzPlacement="bottomRight" class="user">
    <div class="btn" nz-dropdown>
      <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>超级管理员
    </div>
    <div nz-menu>
      <div nz-menu-item><i class="anticon anticon-user"></i>个人中心</div>
      <div nz-menu-item><i class="anticon anticon-setting"></i>系统设置</div>
      <li nz-menu-divider></li>
      <div nz-menu-item><i class="anticon anticon-logout"></i>退出登录</div>
    </div>
  </nz-dropdown>
</section>
