$primary-color: #1890ff;

$font-color: #333;
$lighter-font-color: #666;
$lightest-font-color: #999;

$input-icon-color: rgba(0, 0, 0, .25);

$bd-color: #e5e5e5;
$lighter-bd-color: #f4f4f4;

$bg-color: #eee;
$body-bg-color: #f0f2f5;

$box-shadow-color: #ddd;

$header-height: 72px;
$aside-width: 256px;
$collapsed-aside-width: 80px;

$btn-hover-bg-color: #f9f9fc;
