$primary-color: #1890ff;

$font-color: #333;
$lighter-font-color: #666;
$lightest-font-color: #999;

$input-icon-color: rgba(0, 0, 0, .25);

$bd-color: #ccc;
$lighter-bd-color: #f0f0f0;

$bg-color: #eee;
$body-bg-color: #f8f8f8;

$box-shadow-color: #ddd;

$header-height: 72px;
$aside-width: 256px;

$btn-hover-bg-color: #f9f9fc;
