<nz-modal [(nzVisible)]="isVisible" nzTitle="更改密码" nzWidth="350" class="edit-modal" nzOkText="保存" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form nzLayout="horizontal"  [formGroup]="form">
    <input type="hidden" formControlName="id">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>原密码</nz-form-label>
      <nz-form-control [nzSpan]="16" [ngClass]="{'has-error': checkErrorStyle('oldPassword')}">
        <input nz-input formControlName="oldPassword" placeholder="请输入密码" type="password" autocomplete="off">
        <nz-form-explain *ngIf="checkError('oldPassword', 'required')">原密码是必填项</nz-form-explain>
        <nz-form-explain *ngIf="checkError('oldPassword', 'minlength')">密码最少6位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('oldPassword', 'maxlength')">密码最多20位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('oldPassword', 'invalid')">原密码错误</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="8">新密码</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('password')}" [nzSpan]="16">
        <input nz-input formControlName="password" placeholder="请输入密码" type="password" autocomplete="off" (ngModelChange)="checkConfirm()">
        <nz-form-explain *ngIf="checkError('password', 'required')">新密码是必填项</nz-form-explain>
        <nz-form-explain *ngIf="checkError('password', 'minlength')">密码最少6位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('password', 'maxlength')">密码最多20位</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="8">确认新密码</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('confirmPassword')}" [nzSpan]="16">
        <input nz-input formControlName="confirmPassword" placeholder="请输入密码" type="password" autocomplete="off">
        <nz-form-explain *ngIf="checkError('confirmPassword', 'required')">确认新密码是必填项</nz-form-explain>
        <nz-form-explain *ngIf="checkError('confirmPassword', 'minlength')">密码最少6位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('confirmPassword', 'maxlength')">密码最多20位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('confirmPassword', 'confirm')">两次输入的新密码不一致</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
