@import "styles/scss/sdk";

.panel {
  .title {
    @include setHeightGroup(24px);
    font-weight: bold;
    color: $theme-color;
  }
  .content {
    padding: 10px 0;
  }
}

.query-panel {

  .btn-line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    button {
      margin-right: 10px;
    }
  }

  nz-form-label{
    width: 100px;
  }

  nz-form-control{
    width: 180px;
  }

  .date-range{
    width: 436px;
  }
}

.table-panel {

  .options{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    button {
      margin-right: 10px;
    }
  }

  .table-wrapper{
    width: 100%;
    overflow: auto;
  }
}

.edit-modal{

  nz-form-item{
    width: 50%;
    margin-right: 0;

    nz-form-label{
      width: 100px;
    }

    nz-form-control{
      width: 180px;
    }
  }
}

:host ::ng-deep{
  table {
    table-layout: fixed;
  }
}

::ng-deep {
  body {
    padding: 0!important;
  }
}
