<nz-modal [(nzVisible)]="isVisible" nzTitle="{{dialogTitle}}" nzWidth="700" class="edit-modal" nzOkText="保存" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form">
    <input *ngIf="!isCreateMode" type="hidden" formControlName="id">
    <nz-form-item>
      <nz-form-label nzRequired>用户名</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('username')}">
        <input nz-input formControlName="username" placeholder="请输入用户名">
        <nz-form-explain *ngIf="checkError('username', 'required')">用户名是必填项</nz-form-explain>
        <nz-form-explain *ngIf="checkError('username', 'pattern')">用户名只能由字母、数字和下划线组成</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>用户昵称</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('nickname')}">
        <input nz-input formControlName="nickname" placeholder="请输入用户昵称">
        <nz-form-explain *ngIf="checkError('nickname', 'required')">用户昵称是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isCreateMode">
      <nz-form-label nzRequired>密码</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('password')}">
        <input nz-input formControlName="password" placeholder="请输入密码" type="password" autocomplete="off" (ngModelChange)="checkConfirm()">
        <nz-form-explain *ngIf="checkError('password', 'required')">密码是必填项</nz-form-explain>
        <nz-form-explain *ngIf="checkError('password', 'minlength')">密码最少6位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('password', 'maxlength')">密码最多20位</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isCreateMode">
      <nz-form-label nzRequired>确认密码</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('confirmPassword')}">
        <input nz-input formControlName="confirmPassword" placeholder="请输入密码" type="password" autocomplete="off">
        <nz-form-explain *ngIf="checkError('confirmPassword', 'required')">确认密码是必填项</nz-form-explain>
        <nz-form-explain *ngIf="checkError('confirmPassword', 'minlength')">密码最少6位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('confirmPassword', 'maxlength')">密码最多20位</nz-form-explain>
        <nz-form-explain *ngIf="checkError('confirmPassword', 'confirm')">两次输入的密码不一致</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>角色</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('role')}">
        <nz-select nzPlaceHolder="请选择角色" formControlName="role">
          <nz-option *ngFor="let item of roles;" [nzValue]="item.code" [nzLabel]="item.name"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="checkError('role', 'required')">角色是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>状态</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('status')}">
        <nz-select nzPlaceHolder="请选择状态" formControlName="status">
          <nz-option *ngFor="let item of statuses;" [nzValue]="item.code" [nzLabel]="item.name"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="checkError('status', 'required')">状态是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>邮箱</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('email')}">
        <input nz-input formControlName="email" placeholder="请输入邮箱">
        <nz-form-explain *ngIf="checkError('email', 'required')">邮箱是必填项</nz-form-explain>
        <nz-form-explain *ngIf="checkError('email', 'pattern')">邮箱格式不正确</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>手机</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('phone')}">
        <input nz-input formControlName="phone" placeholder="请输入手机号">
        <nz-form-explain *ngIf="checkError('phone', 'pattern')">手机号格式不正确</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>QQ</nz-form-label>
      <nz-form-control [ngClass]="{'has-error': checkErrorStyle('qq')}">
        <input nz-input formControlName="qq" placeholder="请输入QQ号">
        <nz-form-explain *ngIf="checkError('qq', 'pattern')">QQ号格式不正确</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
