<nz-modal [(nzVisible)]="isVisible" nzTitle="{{title}}" nzWidth="700" class="edit-modal" nzOkText="保存" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form">
    <input *ngIf="!isCreateMode" type="hidden" formControlName="id">
    <nz-form-item>
      <nz-form-label nzRequired>用户名</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="username" placeholder="请输入用户名">
        <nz-form-explain *ngIf="form.get('username').dirty && form.get('username').errors">用户名是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>用户昵称</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="nickname" placeholder="请输入用户昵称">
        <nz-form-explain *ngIf="form.get('nickname').dirty && form.get('nickname').errors">用户昵称是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isCreateMode">
      <nz-form-label nzRequired>密码</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="password" placeholder="请输入密码" type="password" autocomplete="off">
        <nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors">密码是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isCreateMode">
      <nz-form-label nzRequired>确认密码</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="confirmPassword" placeholder="请输入密码" type="password" autocomplete="off">
        <nz-form-explain *ngIf="form.get('confirmPassword').dirty && form.get('confirmPassword').errors">确认密码是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>角色</nz-form-label>
      <nz-form-control>
        <nz-select nzPlaceHolder="请选择角色" formControlName="role">
          <nz-option *ngFor="let item of roles;" [nzValue]="item.code" [nzLabel]="item.name"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="form.get('role').dirty && form.get('role').errors">角色是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>状态</nz-form-label>
      <nz-form-control>
        <nz-select nzPlaceHolder="请选择状态" formControlName="status">
          <nz-option *ngFor="let item of statuses;" [nzValue]="item.code" [nzLabel]="item.name"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="form.get('status').dirty && form.get('status').errors">状态是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>邮箱</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="email" placeholder="请输入邮箱">
        <nz-form-explain *ngIf="form.get('email').dirty && form.get('email').errors">邮箱是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>手机</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="phone" placeholder="请输入手机">
        <nz-form-explain *ngIf="form.get('phone').dirty && form.get('phone').errors">手机是必填项</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>QQ</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="qq" placeholder="请输入QQ">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
