@import "src/styles/scss/sdk/index";

.footer {
  height: $header-height;
  background: #fff;
  color: $lightest-font-color;
  font-size:12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}